<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <h2> AIR QUALITY POLLUTANTS DETAILS</h2>
    </ion-list-header>
    <ion-list-header>
      <ion-searchbar type="text" placeholder="City Search" debounce="500" (ionChange)="getItems($event)">
      </ion-searchbar>
    </ion-list-header>

    <ion-item *ngFor="let pollutant of pollutants; let i = index">
      <ion-avatar slot="start">
        <img src="./assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2> {{pollutant.station}} </h2>
        <h3> <b>CITY : </b> {{pollutant.city}} <b> | STATE : </b> {{pollutant.state}} </h3>
        <p>
          <b>POLLUTANT DETAILS | MAX : </b> {{pollutant.pollutant_max}}
          <b> | MIN : </b> {{pollutant.pollutant_min}}
          <b> | UNIT : </b> {{pollutant.pollutant_unit}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>